
  Here Are The Senua's Saga: Hellblade II PC Specs And System Requirements






            Senua's Saga: Hellblade II hits Xbox Series X/S and PC this month, and while we know this sequel will be locked to 30 FPS on consoles, PC players will be able to tap into higher frame rates. Ahead of the game's May 21 launch, developer Ninja Theory has revealed the PC specs and system requirements for Senua's Saga: Hellblade II and to play the game at its best, you'll need quite a powerful system. 

If you're familiar with Ninja Theory's work, you likely already know it pushes the envelope with technology so it might not come as a surprise your PC will need to do the same. But if you're new to this team, or just want to check if you're ready for the game later this month, we've got you covered. 

Senua's Saga: Hellblade II PC Specs And System Requirements

Below is a chart released by Ninja Theory detailing everything you need to know about running Senua's Saga: Hellblade II at its most demanding, recommended specs, and even at the bare minimum. And as you can see, it's a game that requires a lot of power (click the image to enlarge). 

Hellblade II hits Xbox Series X/S and PC on May 21. 

For more, watch the latest Hellblade II trailer here, and then read about Hellblade II's photo mode and what to expect from it at launch. After that, watch this Hellblade II gameplay trailer. 

Is your PC prepared to run this game? Let us know in the comments below!

      Products In This Article

Senua's Saga: Hellblade II

Platform:

Xbox Series X/S, PC

Release Date:

May 21, 2024

Purchase
More Info

Wesley LeBlanc
Associate Editor
Wesley LeBlanc is an associate editor for Game Informer. If you have any news tips, story ideas, or more, feel free to DM him on Twitter @LeBlancWes or email him at wesleyleblanc@gameinformer.com.

Email
Twitter

