Civilization VI


  Firaxis Shares Civilization VI System Requirements




Is your PC up to the task of taking a civilization from the stone age and into space? You can find out today, as Firaxis finally revealed the system requirements for the latest entry in the amazing strategy series. 
Here are the modest minimum and more strenuous recommended requirements: 

To read more about how Civilization VI differs from its predecessors, read our latest hands-on preview. The strategy game comes to PC on October 21.

      Products In This Article

Civilization VI

Platform:

PlayStation 4, Xbox One, Switch, PC, Mac, Linux, iOS

Release Date:

October 21, 2016 (PC, Mac), February 9, 2017 (Linux), December 21, 2017 (iOS), November 16, 2018 (Switch), November 22, 2019 (PlayStation 4, Xbox One)

Purchase
More Info

